{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<h2>Register</h2>
<div class="mt-5 col-12 col-xl-5 col-lg-6 col-md-8">
  <form class="row g-3" method="POST">
    {{ form.hidden_tag() }}
    <div class="col-12">
      {{ form.username.label(class="form-label text-capitalize") }}
      {{ form.username(class="form-control") }}
    </div>
    <div class="col-12">
      {{ form.email_address.label(class="form-label text-capitalize") }}
      {{ form.email_address(class="form-control") }}
    </div>
    <div class="col-6">
      {{ form.password.label(class="form-label text-capitalize") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="col-6">
      {{ form.confirm_password.label(class="form-label text-capitalize") }}
      {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="col-12">
      {{ form.submit(class="btn btn-primary text-capitalize") }}
    </div>
    <div class="col-12">
      <p>Already have an account? <a href="{{ url_for('login') }}" class="text-decoration-none">Login</a></p>
    </div>
  </form>
</div>
{% endblock %}